@import "~bulma/sass/utilities/initial-variables"
@import url("https://use.typekit.net/wnu6vbz.css")
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

// Config vars
// Kaldi logo brand color: #FD461E

$primary:  #FAE1E4
$primary-invert: #fff
$body-color: #333
$black: #2b2523
$body-background-color: $primary
$footer-background-color: $primary
$footer-text-color: $white
$link: $body-color

$fullhd-enabled: false

$column-gap: 1rem

$family-sans-serif: 'bree', sans-serif
@import "~bulma"

$family-secondary: 'boucherie-cursive', serif

html
  overflow-y: auto

@keyframes fadein
  0%
    opacity: 0
    transform: translateY(1rem)
  100%
    opacity: 1
    transform: translateY(0)

body
  border: $primary 16px solid
  font-weight: 300

#wrapper
  opacity: 0
  animation: 1s fadein ease-out forwards

h1
  font-size: 3.2rem !important

h2
  font-size: 2.7rem !important

h3
  font-size: 2.5rem !important

h4
  font-size: 2rem !important

.title
  font-size: 5rem !important
  font-family: boucherie-cursive, sans-serif
  font-weight: 400 !important

h1, h2, h3, h4
  font-family: $family-secondary
  font-weight: 300 !important

h1, h2
  padding-bottom: 0.7em

h3
  color: $primary

.is-smaller
  max-width: 800px
  margin: 0 auto

.fa
  font-size: 2rem
  width: 4rem
  text-align: center
  text-decoration: none
  border-radius: 50%

.level-left
  flex-shrink: initial
  text-align: left
