@import "~bulma/sass/utilities/initial-variables"
@import url("https://use.typekit.net/wnu6vbz.css")

// Config vars
// Kaldi logo brand color: #FD461E

$primary:  #FAE1E4
$primary-invert: #fff
$body-color: #333
$black: #2b2523
$body-background-color: $primary
$footer-background-color: $primary
$footer-text-color: $white
$link: $primary

$fullhd-enabled: false
$widescreen-enabled: false

$column-gap: 3rem

$family-sans-serif: 'bree', sans-serif
@import "~bulma"

$family-secondary: 'monarcha', serif

html
  overflow-y: auto

body
  border: $primary 16px solid
  font-weight: 300

h1, h2
  font-family: $family-secondary
  font-weight: 700
  padding-bottom: 1em

h3
  color: $primary
